<% 
  content_for :title do
     "Vítor Avelino - #{t.terms.contact}"
  end 
%>
<div id="main" class="main" role="main" data-type="site">
    <article class="column-left">
        <h2><%= t.terms.contact %></h2>
        <p><%= t.contact.paragraph %></p>
        <% if flash[:notice] %>
            <p><strong><%= t.contact.notice %></strong></p>
        <% end %>

        <form action="/contact" method="post">
            <fieldset>
                <input type="text" name="name" placeholder="<%= t.terms.name %>" autofocus required/>
                <input type="email" name="from" placeholder="Email" required/>
                <textarea rows="8" name="body" placeholder="<%= t.terms.message %>" required></textarea>
                <button type="submit"><%= t.contact.send_button %></button>
            </fieldset>
        </form>
    </article>
    
    <%= erb :_sidebar %>
</div> <!-- #main -->