<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%= t.lang %>" dir="ltr"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="<%= t.lang %>" dir="ltr"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="<%= t.lang %>" dir="ltr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="<%= t.lang %>" dir="ltr"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title><%= yield_content :title %></title>
    <meta name="author" content="Vítor Avelino">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cloudfront.vitoravelino.net/css/style.css">
    <link rel="alternate" type="application/atom+xml" title="Vítor Avelino [Garbage Collector] feed" href="/blog/index.xml" />
    
    <!--[if lte IE 8]>
        <script type="text/javascript" src="//cloudfront.vitoravelino.net/js/libs/selectivizr.min.js"></script>
    <![endif]-->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="//cloudfront.vitoravelino.net/js/libs/foutbgone.js"></script>
        <script type="text/javascript">
            fbg.hideFOUT('asap');
        </script>
    <![endif]-->
    <script src="//cloudfront.vitoravelino.net/js/libs/modernizr-2.6.1.min.js"></script>
</head>

<body class="site">
    <div class="wrapper">
        <header class="header" role="banner">
            <h1 class="fleft">Vítor Avelino</h1>
            <nav>
                <ul id="main-menu" class="main-menu fright" role="navigation">
                    <li class="menu-item home<%= ' selected' if selected == 'index' %>"><a data-page="home" href="/"><%= t.terms.home %></a></li>
                    <li class="menu-item blog"><a data-page="blog" href="/blog"><%= t.terms.blog %></a></li>
                    <li class="menu-item projects<%= ' selected' if selected == 'projects' %>"><a data-page="projects" href="/projects"><%= t.terms.projects %></a></li>
                    <li class="menu-item contact<%= ' selected' if selected == 'contact' %>"><a data-page="contact" href="/contact"><%= t.terms.contact %></a></li>
                </ul>
            </nav>
        </header>

        <%= yield %> 
    </div>
    
    <footer class="main-footer">
        <div class="main-footer-content">
            <p class="fleft">powered by <a href="http://cloudhead.io/toto" target="_blank" rel="nofollow">toto</a>, <a href="http://www.sinatrarb.com" target="_blank" rel="nofollow">sinatra</a> <%= t.terms.and %> <a href="http://www.heroku.com" target="_blank" rel="nofollow">heroku</a>.</p>

            <p class="fright"><%= t.footer.license %> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Creative Commons</a>.</p>
        </div>
    </footer>
    
    <div id="spin" class="spin"></div>

    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="//cloudfront.vitoravelino.net/js/libs/jquery-1.8.0.min.js"><\/script>')</script>
    <script src="//cloudfront<%= (1..4).to_a.sample %>.vitoravelino.net/js/libs/spin.min.js"></script>
    <script src="//cloudfront<%= (1..4).to_a.sample %>.vitoravelino.net/js/script.min.js"></script>
    <script src="//cloudfront<%= (1..4).to_a.sample %>.vitoravelino.net/js/libs/jquery.fancybox.min.js"></script>
    <script src="//cloudfront<%= (1..4).to_a.sample %>.vitoravelino.net/js/libs/prettify.min.js"></script>
    <script>
        var _gaq=[['_setAccount','UA-7715216-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.async=g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <!--[if lt IE 7 ]>
        <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
</body>
</html>