<%
  content_for :title do
     "Vítor Avelino - #{t.terms.projects}"
  end
%>
<div id="main" class="main" role="main" data-type="site">
    <article>
        <h2><%= t.terms.projects %></h2>
        <p><%= t.projects.paragraph %></h2>

        <section class="projects-list">
            <article class="project">
                <header>
                    <h3><a href="http://github.com/buddycloud/webclient" target="_blank">buddycloud webclient</a></h3>
                    <small>
                        <span class="label">backbone.js</span>
                        <span class="label">requirejs</span>
                        <span class="label">javascript</span>
                        <span class="label">html5</span>
                        <span class="label">css3</span>
                    </small>
                </header>

                <p><%= t.projects.buddycloud %></p>
            </article> <!-- .project -->

            <article class="project">
                <header>
                    <h3><a href="http://github.com/vitoravelino/sloth" target="_blank">sloth</a></h3>
                    <small>
                        <span class="label">backbone.js</span>
                        <span class="label">requirejs</span>
                        <span class="label">javascript</span>
                        <span class="label">html5</span>
                        <span class="label">css3</span>
                        <span class="label">flask</span>
                        <span class="label">python</span>
                        <span class="label">api</span>
                        <span class="label">heroku</span>
                    </small>
                </header>

                <p><%= t.projects.sloth %></p>
            </article> <!-- .project -->

            <article class="project">
                <header>
                    <h3><a href="http://github.com/vitoravelino/silex-bootstrap" target="_blank">silex-bootstrap</a></h3>
                    <small>
                        <span class="label">php</span>
                        <span class="label">silex</span>
                        <span class="label">twig</span>
                        <span class="label">dbal</span>
                        <span class="label">monolog</span>
                        <span class="label">composer</span>
                    </small>
                </header>

                <p><%= t.projects.silex %></p>
            </article> <!-- .project -->

            <article class="project">
                <header>
                    <h3><a href="http://github.com/fesl/figgo" target="_blank">Figgo</a></h3>
                    <small>
                        <span class="label">java</span>
                        <span class="label">cotopaxi</span>
                        <span class="label">velocity</span>
                        <span class="label">html5</span>
                        <span class="label">css3</span>
                        <span class="label">javascript</span>
                        <span class="label">google app engine</span>
                    </small>
                </header>

                <p><%= t.projects.figgo %></p>
            </article> <!-- .project -->

            <article class="project">
                <header>
                    <h3><a href="http://github.com/vitoravelino/vitoravelino.net" target="_blank">vitoravelino.net</a></h3>
                    <small>
                        <span class="label">ruby</span>
                        <span class="label">toto</span>
                        <span class="label">sinatra</span>
                        <span class="label">html5</span>
                        <span class="label">css3</span>
                        <span class="label">heroku</span>
                    </small>
                </header>

                <p><%= t.projects.vitoravelino %></p>
            </article> <!-- .project -->

        </section> <!-- .projects-list -->
    </article>
</div> <!-- #main -->